@charset 'utf-8';

@font-face {
  font-family: "SeoulHangangM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SangSangFlowerRoad";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/SangSangFlowerRoad.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SangSangShinb7";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.1/SangSangShinb7.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #000;
}
/*---------------헤더영역---------------------*/

header {
  width: 100%;
  background: #000;
  border-bottom: 1px dashed #999;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.headerWrap {
  width: 980px;
  margin: 0 auto;
}
.headerT {
  height: 50px;
}

.utill {
  float: right;
}
.utill li {
  float: left;
  margin-left: 15px;
}
.utill li a {
  font-size: 12px;
  color: #777;
  line-height: 50px;
}

.headerB {
  width: 980px;
  height: 150px;
  position: relative;
}
h1 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 50%;
  margin-left: -75px;
}
h1 a img {
  max-width: 100%;
  max-height: 100%;
}
.gnbL {
  position: absolute;
  height: 100px;

  left: 0;
  bottom: 0;
}
.gnbL ul {
}
.gnbL ul li {
  float: left;
  margin-right: 100px;
}
.gnbL ul li a {
  display: block;
  padding-top: 60px;
  font-size: 20px;
  font-family: SeoulHangangM;
  color: #fff;
  transition: all 0.5s;
}

.gnbL ul li a:hover {
  padding-top: 40px;
}
.gnbL ul li a:hover .eng {
  opacity: 0;
}
.gnbL ul li a:hover .kor {
  opacity: 1;
}

.gnbR {
  position: absolute;
  right: 0;
  bottom: 0;
}
.gnbR ul {
}
.gnbR ul li {
  float: left;
  margin-left: 100px;
}

.gnbR ul li a {
  display: block;
  padding-top: 60px;
  font-size: 20px;
  font-family: SeoulHangangM;
  color: #fff;
  transition: all 0.5s;
}
.gnbR ul li a:hover {
  padding-top: 40px;
}
.gnbR ul li a:hover .eng {
  opacity: 0;
}
.gnbR ul li a:hover .kor {
  opacity: 1;
}

.eng {
  transition: all 0.5s;
  letter-spacing: 1.2;
}
.kor {
  opacity: 0;
  transition: all 0.5s;
}

/* main 영역 */

main {
  padding-top: 2rem;
}

.mv {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  background-color: black;
}

/*----------------------서브배너영역-----------*/

.subBanner {
  width: 100%;
  height: 300px;
  padding-bottom: 50px;
  background: #000;
}
.subBn {
  width: 980px;
  margin: 0 auto;
}
.subBn a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/art.png) no-repeat center;
  background-size: cover;
  position: relative;
}
.subBn a img {
  width: 100%;
  height: 100%;
}
.subBnTxtbox {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-weight: 550;
  text-align: right;
}
.subBnTit {
  font-family: SangSangShinb7;
  color: #fff;
  font-size: 70px;
  margin-bottom: 10px;
  transition: all 0.3s;
}
.subBn a:hover .subbnTit {
  text-shadow: 3px 3px 5px #000;
}
.subBnTxtbox span {
  font-family: SeoulHangangM;
  color: #ffffff;
  opacity: 0.5;
}

/*----------------첫번째 섹션-----------------*/

.section1 {
  width: 100%;
  background: #000;
}
.sec1Wrap {
  width: 980px;
  height: 500px;
  margin: 0 auto;
}

.theArtist {
  width: 480px;
  height: 100%;
  float: left;
  font-family: SeoulHangangM;
  position: relative;
}
.theArtist a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/hje.jpg) no-repeat center;
  background-size: cover;
  opacity: 0.3;
  transition: all 0.5s;
}
.theArtist a:hover {
  opacity: 1;
}
.theArtist a:hover p {
  opacity: 0;
}
.theArtist a:hover .artistTit {
  color: #242323;
  font-size: 28px;
  opacity: 1;
}
.theArtist a:hover .artistName {
  color: #242323;
  font-size: 28px;
  opacity: 1;
}
.theArtist a p {
  font-size: 20px;
  padding: 20px;
  color: #0b0b0b;
  opacity: 1;
  transition: all 0.5s;
}
.theArtist a span {
  position: absolute;
  color: #777;
}
.artistTit {
  top: 300px;
  left: 20px;
  font-size: 25px;
  opacity: 0;
  transition: all 0.5s;
}
.artistName {
  top: 350px;
  right: 20px;
  font-size: 22px;
  opacity: 0;
  transition: all 0.5s;
}

.theBest {
  width: 480px;
  height: 100%;
  float: right;
  font-family: SeoulHangangM;
}

.bestArticle {
  width: 100%;
  height: 240px;
  margin-bottom: 20px;
  opacity: 0.8;
  background: url(../img/texture.jpg) no-repeat center;
  transition: all 0.5s;
}
.bestArticle:hover {
  opacity: 1;
}
.bestArticle > p {
  text-align: right;
  padding-right: 20px;
  padding-top: 20px;
  font-size: 20px;
  color: #0b0b0b;
  opacity: 1;
  transition: all 0.5s;
}
.bestArticle:hover p {
  opacity: 0;
}
.bestArticle ul {
  padding-left: 30px;
  box-sizing: border-box;
}
.bestArticle ul li {
}
.bestArticle ul li a {
  line-height: 1.8;
  font-size: 15px;
  transition: all 0.5s;
}
.bestArticle ul li a:hover {
  text-decoration: underline;
}
.bestArticle ul li a:hover .rank i {
  transform: scale(1.2);
}
.rank {
  margin-right: 10px;
}
.rank i {
}

.recruit {
  width: 100%;
  height: 240px;
  background: url(../img/recruit.jpg) no-repeat center;
  opacity: 0.6;
}
.recruit a {
  display: block;
  width: 100%;
  height: 100%;
}
.recruit a p {
  text-align: center;
  line-height: 240px;
  font-family: SangSangShinb7;
  font-size: 50px;
  font-weight: bold;
  color: #121111;
}

/*--------------advertise---------------*/

.advertise {
  width: 100%;
  height: 400px;
  padding-top: 50px;
  position: relative;
  user-select: none;
  background: #000;
}
.advertise .wrap {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  background: url(../img/toast.jpg) no-repeat center;
  position: relative;
}

.adTxt {
  font-size: 50px;
  position: absolute;
  font-family: SangSangFlowerRoad;
  right: 250px;
  top: 70px;
  letter-spacing: 3px;
  line-height: 1.7;
  color: #fff;
  text-shadow: 3px 3px 5px #000;
}

.adLink {
  position: absolute;
  bottom: 20px;
  right: 250px;
}
.adLink a span {
  font-size: 20px;
  color: #fff;
  text-shadow: 3px 3px 5px #000;
}
.adLink a i {
  position: absolute;
  top: 0;
  left: 90px;
  font-size: 30px;
  color: #c9bb81;
  text-shadow: 3px 3px 5px #000;
}

/*------------section1--------------*/

.section2 {
  width: 100%;
  height: 208px;
  padding-top: 30px;
  margin-bottom: 150px;
  padding-bottom: 50px;
  background: #000;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.8);
  position: relative;
}

.section2 .wrap {
  width: 980px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.twitter {
  opacity: 0.5;
  transition: all 0.5s;
}
.twitter:hover {
  opacity: 0.9;
}

.blog-link {
  width: 313px;
  height: 208px;
  margin-right: 20px;
  margin-left: 21px;
  background-color: #fff8e7;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.blog-link a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.blog-link a span {
  font-family: "Paytone One", sans-serif;
  font-size: 2rem;
  font-style: italic;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
  );
  background-size: 0 0.1em;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
}

.blog-link:hover {
  opacity: 1;
}

.blog-link:hover span {
  background-size: 100% 0.1em;
  color: var(--grey-color900);
}

.section2 .wrap .youtube {
  width: 313px;
  height: 208px;
  background: #ccc;
  text-align: center;
  opacity: 0.5;
  transition: all 0.5s;
  cursor: pointer;
}

.youtubeTxt {
  float: right;
  line-height: 1.5;
  margin-right: 30px;
  margin-top: 20px;
  font-family: SangSangFlowerRoad;
  font-size: 40px;
}

.youtube i {
  font-size: 50px;
  margin-top: 85px;
  transition: all 0.5s;
}

.section2 .wrap .youtube:hover {
  opacity: 1;
}

.section2 .wrap .youtube:hover i {
  color: red;
}

/*----------footer-----------*/

footer {
  width: 100%;
  height: 150px;
  background: #1d1d1d;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -100;
}
footer .wrap {
  width: 980px;
  margin: 0 auto;
}

footer .wrap p {
  text-align: center;
  margin-top: 50px;
  line-height: 2;
  font-family: SeoulHangangM;
}
footer .wrap p span {
  font-weight: bold;
}
